:root {
    --bs-root-font-size: 14px;
    --cs-padding: 1rem;
}
.row {
    --bs-gutter-x: var(--cs-padding);
}
.card {
    --bs-card-cap-padding-y: var(--cs-padding);
    --bs-card-cap-padding-x: var(--cs-padding);
    --bs-card-spacer-y: var(--cs-padding);
    --bs-card-spacer-x: var(--cs-padding);
    --bs-card-img-overlay-padding: var(--cs-padding);
}
.text-fw-500 {
    font-weight: 500;
}
.layout-navbar.navbar-detached {
    padding-inline: var(--cs-padding);
}

.table th{
    text-transform: none;
}
