:root {
    --bs-root-font-size: 13px;
    --cs-padding: 1rem;
}
.row {
    --bs-gutter-x: var(--cs-padding);
}
.card {
    --bs-card-cap-padding-y: var(--cs-padding);
    --bs-card-cap-padding-x: var(--cs-padding);
    --bs-card-spacer-y: var(--cs-padding);
    --bs-card-spacer-x: var(--cs-padding);
    --bs-card-img-overlay-padding: var(--cs-padding);
}
.text-fw-500 {
    font-weight: 500;
}
.layout-navbar.navbar-detached {
    padding-inline: var(--cs-padding);
}

.table th {
    text-transform: none;
}

.text-truncate-3-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Giới hạn 3 dòng */
    overflow: hidden;
    text-overflow: ellipsis;
}
.fw-500 {
    font-weight: 500;
}
.table > :not(caption) > * > * {
    padding: 0.782rem 1rem;
}
.select2-selection__clear {
    position: absolute;
    block-size: 100%;
    inline-size: 2rem;
    inset-block-start: var(--bs-border-width);
    inset-block-end: var(--bs-border-width);
    inset-inline-start: auto;
    padding-left: 0.7rem;
}
.select2-selection__clear:hover {
    color: var(--bs-primary) !important;
}
